__pycache__/
*.py[cod]
*$py.class


venv/
env/
.venv/
.env


.ipynb_checkpoints/


.vscode/



.streamlit/



.mypy_cache/
.pytest_cache/



datasets/
documents/


*.tmp
*.log
.DS_Store
Thumbs.db


outputs/
results/
logs/

test.py

